

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Roboto&display=swap');

p{
  font-family:Mountains of Christmas;
  color:rgb(255, 0, 0);
  font-size: 20px;
  font-style: italic;

  text-decoration-line:underline;
  text-decoration-color: green;
  text-decoration-style:wavy;
}