@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1{
    font-family: Open Sans;
    color: rgb(212, 0, 255);
    width: 10%;
}
button{
    background-color: rgb(213, 213, 213);
    color: rgb(141, 0, 197);
}